@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Varela+Round&display=swap');
body{
  background-color: antiquewhite;
}

*{
  margin: 0;
  padding: 0;
}

nav{
  font-family: 'Ubuntu', sans-serif;
}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  flex-flow: row wrap;
}
nav ul li{
  padding: 0 19px;
}

.brand img{
  width: 50px;
  padding: 0 7px;
}
.brand{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container{
  min-height: 60vh;
  background-color: black;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url('bg.jpeg');
}

.bottom{
  position: sticky;
  height: 120px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons{
   margin-top: 14px;
}
.icons i{
  cursor: pointer;
}
#myprogressBar{
  width: 70vw;
  cursor: pointer;
}

.songItem{
height: 56px;
display: flex;
background-color: white;
margin: 12px 0;
color: black;
justify-content: space-between;
align-items: center;
border-radius: 28px;
}
.songItem img{
   /* height: ; */
  width: 43px;
  margin: 0 23px;
  border-radius: 15px;
}
.timestamp{
  margin: 0 23px;
  
}
.timestamp i{
  cursor: pointer;
}
.songItemcontainer{
  margin-top: 74px;
}
.songinfo{
  position:absolute;
  font-family: 'Varela Round', sans-serif;
  margin: 65px;
  left: 10vw;
}
.songinfo img{
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

@media only screen and (max-width: 600px){
  body{
    background-color: darkorange;
  }
}